@use "../helpers" as *;

.aside {
    position: fixed;
    translate: 0% -10%;
    opacity: 0;
    transform: translateX(-50%);
    animation: showBody 0.6s ease-out forwards;
    animation-delay: 4.6s;
    z-index: 100;

      @keyframes showBody {
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @include tablet {
        display: none;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: rem(24);
        padding: rem(8) rem(12);
        border: rem(1) solid var(--color-light);
        border-radius: rem(40);
        background-color: var(--color-dark);
    }

    &__link {
        padding: rem(8);
        transition: var(--transition-duration);
        position: relative;

        &.is-active {
            color: var(--color-dark);
            background-color: var(--color-light);
            pointer-events: none;
            border-radius: rem(40);
        }

        &-text {
            position: absolute;
            left: 150%;
            bottom: 0;
            width: max-content;
            background-color: var(--color-light);
            padding: rem(8) rem(16);
            border-radius: rem(8);
            color: var(--color-dark-light);
            font-family: 'Ubuntu';
            font-size: rem(16);
            font-weight: 300;
            transition: var(--transition-duration);
            opacity: 0;
        }

        @include hover {
            filter: drop-shadow(rem(0) rem(0) rem(10) rgba($color: #FFFFFF, $alpha: 1.0));

            .aside__link-text {
                opacity: 1;
            }
        }

        &-home {
            @include hover {
                .home-1 {           
                translate: -6% -6%;
                transition: var(--transition-duration);
                }
                .home-2 {                  
                translate: 6% -6%;
                transition: var(--transition-duration);
                }
                .home-3 {                  
                translate: 6% 6%;
                transition: var(--transition-duration);
                }
                .home-4 {
                translate: -6% 6%;
                transition: var(--transition-duration);
                }
            }
        }

        &-about {
            @include hover {
                .about-1 {
                    transition: var(--transition-duration);
                    translate: 0% -10%;
                }
            }
        } 
        
        &-skill {
            @include hover {
                .skill-1 {
                    transition: var(--transition-duration);
                    translate: -10%;
                }
                .skill-2 {
                    transition: var(--transition-duration);
                    translate: 10%;
                }
            }
        }

          
        &-work {
            @include hover {
                .work-1 {
                    transition: var(--transition-duration);
                    translate: 0% -10%;
                }
            }
        } 
          
        &-blog {
            @include hover {
                .blog-1 {
                    transition: var(--transition-duration);       
                    translate: 6% -8%;
                }
                .blog-2 {
                    transition: var(--transition-duration);
                    translate: -6% 6%;
                }
            }
        } 

        &-contact {
            @include hover {
                .contact-1 {
                    transition: var(--transition-duration);
                    translate: 0% -10%;
                }
            }
        } 
    }
}
