@use "../helpers" as *;

.field {
    position: relative;
    &__control {
        border-radius: rem(24);
        border: none;
        min-height: rem(32);
        padding-left: rem(16);

        @include mobile {
            display: none
        }

        &--drop {
            display: initial;
            @include abs-y;
            left: rem(-64);
            translate: -50% 90%; 

            @include mobile-s {
                left: rem(-98);
            }
        }
    }

    &__form {

        &-label {
            color: var(--color-brand-1);
            font-family: 'Ubuntu';
            font-size: rem(16);
            font-weight: 300;
            line-height: 1.2;
        }

        &-textarea,
        &-control {
            background-color: transparent;
            color: var(--color-light);
            font-size: rem(16);
            border: none;
            min-width: 100%;
            border-bottom: rem(1) solid var(--color-brand-1);
            padding: rem(12) rem(14);

            &:user-invalid {
                border-color: var(--color-red);
            }
        }

        &-textarea {
            resize: none;
        }

        &-required {
            padding-left: rem(5);
        }
    }

    &__contact-button {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: rem(16);
    }

    &__errors {
        font-family: 'Ubuntu';
        font-size: rem(16);
        display: flex;
        position: absolute;
        flex-direction: column;
        bottom: rem(-32);
        font-weight: 300;
        color: var(--color-red);
        line-height: 1.25;

    &:empty {
        display: none;
    }
    }

}