@use "../helpers" as *;

.section {
    padding-block: rem(128);
    position: relative;

    @include tablet {
        padding-block: rem(64);
    }

    &--bg-custom {
        position: relative;

        &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            inset: 0;
            z-index: -1;
            background: url(/icons/about/about-bg.svg) center/cover no-repeat;
        }
    }

    &--bg-gray {
        position: relative;

        &::before {            
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            inset: 0;
            z-index: -1;
            background: url(/images/skills/skill-bg.avif) center/cover no-repeat;
        }
    }

    &--bg-black {
             position: relative;

        &::before {            
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            inset: 0;
            z-index: -1;
            background: url(/images/work/avif/bg.avif) center/cover no-repeat;
        }
    }

    &--small {
        padding-block: rem(100);

        @include tablet {
            padding-block: rem(64);
        }
    }

    &--contact {
        background-color: var(--color-dark);
        padding-block: rem(64);

        @include tablet {
            padding-top: rem(32);
            padding-bottom: rem(64);
        }
    }

    &--privacy {

        @include mobile {
            padding-top: rem(112);
        }
    }
}